html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: var(--light4-green);
    height: 3rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 3rem;
    gap: 2rem;
}