{% extends '/layouts/base_updown.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin.css') }}"
/>

<section class = "page-upper">
  <h2 class = "page-title">게시판 관리</h2>
</section>


<div class="quickmenu">
  <ul class = "quicklist">
    <li class = "quickitem"><a href="{{url_for('admin_views.admin_userinfo')}}">유저 관리</a></li>
    <li class = "quickitem"><a href="{{url_for('admin_views.admin_boardinfo')}}">게시판 관리</a></li>
    <li class = "quickitem"><a href="{{url_for('admin_views.admin_postinfo')}}">게시물 관리</a></li>
    <li class = "quickitem"><a href="{{url_for('admin_views.admin_comminfo')}}">댓글 관리</a></li>
  </ul>
</div>


<div class="brdInfo">
  <div class="brdTable">
    {% if BoardInfo %}
    <div class="brdinner">
      <div class="inner-">ID</div>
      <div class="inner-">이름</div>
      <div class="inner-">쓸모없는거</div>
      <div class="inner-">삭제</div>
      <div class="inner-">이름 수정</div>
    </div>
    {% for board in BoardInfo %}
    <div class="brditems">
      {% for value in board.values() %}
      <div class="inner-">{{value}}</div>
      {% endfor %}
      <div class="inner-">
        <a href="{{url_for('admin_views.boardinfo_del', brdId=board.brdId)}}"
          >삭제</a
        >
      </div>
      <div class = "modify-bar">
        <form
        class = "modify-input"
          method="post"
          action="{{url_for('admin_views.boardinfo_edit', brdId=board.brdId)}}"
          style="display: flex"
        >
          <input name="brdNm" type="text" placeholder="{{board.brdNm}}" />
          <button type="submit">수정</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <li>BoardInfo가 없음</li>
    {% endif %}
  </div>
</div>
{% endblock %}
