{% extends '/layouts/base_updown.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin.css') }}"
/>

<section>
  <h2>admin.postinfo.html</h2>
</section>

<div class="postInfo">
  <div class="postTable">
    {% if PostInfo %}
    <div class="postinner">
      <div class="inner-">ID</div>
      <div class="inner-">게시판ID</div>
      <div class="inner-">유저ID</div>
      <div class="inner-">제목</div>
      <div class="inner-">작성일</div>
      <div class="inner-">조회수</div>
      <div class="inner-">좋아요 갯수</div>
      <div class="inner-">좋아요 갯수</div>
      <div class="inner-">삭제</div>
    </div>
    {% for post in PostInfo %}
    <div class="postitems">
      <div class="inner-">{{post.pstId}}</div>
      <div class="inner-">{{post.brdId}}</div>
      <div class="inner-">{{post.userId}}</div>
      <div class="inner-">{{post.title}}</div>
      <div class="inner-">{{post.pstCrtDate}}</div>
      <div class="inner-">{{post.vwCnt}}</div>
      <div class="inner-">{{post.pstLikeCnt}}</div>
      <div class="inner-">{{post.pstUnlikeCnt}}</div>
      <div class="inner-">
        <a href="{{url_for('admin_views.postinfo_del', pstId=post.pstId)}}"
          >삭제 - {{post.pstId}}</a
        >
      </div>
    </div>
    {% endfor %} {% else %}
    <li>PostInfo가 없음</li>
    {% endif %}
  </div>
</div>
{% endblock %}
