{% extends '/layouts/base_updown.html' %} {% block content %}
<div class="middle">
  <div
    class="imagecontainer"
    style='background-image: url({{url_for("static", filename= "img/bannertest.png")}})'
    ;
  ></div>
</div>

<div class="bodywrapper">
  <div class="board-bodywrapper">
    <aside class="sidebar">
      <div class="sidebar-title"><h3>무엇을 넣을까요?</h3></div>
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <a href="{{url_for('board_views.board')}}">전체 게시판</a>
        </li>
        {% if board_list %} {% for board in board_list %}
        <li class="sidebar-item">
          <a href="{{url_for('board_views.board_boardID', brdId=board.brdId)}}"
            >{{board.brdNm}}</a
          >
        </li>
        {% endfor %} {% else %}
        <li class="sidebar-item">게시판이 존재하지 않습니다</li>
        {% endif %}
      </ul>
    </aside>

    <section class="main">
      <div class="articlecontainer">
        <div class="board-list-bar">
          <div
            class="swiper-container snbSwiper"
            style="max-width: inherit; height: max-content; margin-bottom: 20px"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="{{url_for('board_views.board')}}"
                  ><span class="text">전체 게시판</span></a
                >
              </div>
              {% if board_list %} {% for board in board_list %}
              <div class="swiper-slide">
                <a
                  href="{{url_for('board_views.board_boardID', brdId=board.brdId)}}"
                  ><span class="text">{{board.brdNm}}</span></a
                >
              </div>
              {% endfor %} {% else %}
              <div class="swiper-slide">
                <a><span class="text">게시판이 존재하지 않습니다</span></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        {% if brdId %} {% for board in board_list %} {% if board.brdId == brdId
        %}
        <div class="article-title-bar"><h3>{{board.brdNm}}</h3></div>
        {% endif %} {% endfor %} {% else %}
        <div class="article-title-bar"><h3>전체 게시판</h3></div>
        {% endif %}

        <ul class="article-list">
          {% if post_list %} {% for post in post_list %}

          <li class="article-item">
            <a href="{{url_for('post_views.post',pstId=post.pstId)}}"
              >[{{post.userId}}] {{post.title}}</a
            >
          </li>
          {% endfor %} {% else %}
          <li class="article-item">게시물이 존재하지 않습니다</li>

          {% endif %}
        </ul>
        <p style="text-align: end; font-size: 14px">1 2 3 4 5 6 7 8 9 10</p>
        <a href="{{url_for('post_views.post_write')}}">작성하기</a>
      </div>
    </section>
  </div>
</div>

{% endblock %}
