{% extends '/layouts/base_updown.html' %} {% block content %}
<section>
  <h2>board.html</h2>
  <div class="bodywrapper">
    <aside class="sidebar">
      <h1 class="title">title(생략가능)</h1>
      <ul class="sidebar-list">
        <br>

        <li class="sidebar-item">
          <a href="{{url_for('board_views.board')}}">전체</a>
        </li>

        {% if board_list %} 
          {% for board in board_list %}
            <li class="sidebar-item">
              <a href="{{url_for('board_views.board_boardID', brdId=board.brdId)}}">{{board.brdNm}}</a>
            </li>
          {% endfor %} 
        {% else %}
        <p>board_list가 없습니다.</p>
        {% endif %}
      </ul>
    </aside>
    
    <section class="main">
      <!-- 게시판 위치 수정 예정 -->
      {% if brdId %}
        {% for b in board_list %}
          {% if b.brdId == brdId %}
            <h1 class="title">{{b.brdNm}}</h1>
          {% endif %}
        {% endfor %}
      {% else %}
      <h1 class="title">전체 게시판</h1>
      {% endif %}
    
      <a href={{url_for('post_views.post_write')}}>작성하기</a>


      <table class="table">
          <thead>
          <tr class="table-dark">
              <th>pstId</th>
              <th>userId</th>
              <th>title</th>
          </tr>
          </thead>
          <tbody>


          {% if post_list %}
          {% for post in post_list %}
          <tr>
              <td>{{ post.pstId }}</td>
              <td>
                  <a href={{url_for('post_views.post',pstId=post.pstId)}}>{{session["userSubNm"]}} </a>
              </td>
              <td>
                <a href={{url_for('post_views.post',pstId=post.pstId)}}>{{ post.title }}</a>
              </td>
          </tr>
          {% endfor %}


          {% else %}
          <tr>
              <td colspan="3">post_list가 없습니다.</td>
          </tr>
          {% endif %}
          </tbody>
      </table>
      <p>1 2 3 4 5 6 7 8 9 10</p>
    </section>
  </div>
</section>
{% endblock %}