<head>
  <link rel="stylesheet" href="dddd.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/Bajdvav
  -->
</head>

<body>
  <div class="wrapper">
    <div class="card">
      <div class="card-banner">
        <p class="category-tag popular">Popular</p>
        <img
          class="banner-img"
          src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="blog-hashtag">#webdevelopment #frontend</p>
        <h2 class="blog-title">What is the future of front end development?</h2>
        <p class="blog-description">
          My thoughts on the future of front end web development
        </p>

        <div class="card-profile">
          <img
            class="profile-img"
            src="https://images.unsplash.com/photo-1554780336-390462301acf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
            alt=""
          />
          <div class="card-profile-info">
            <h3 class="profile-name">Maya Eleanor Peña</h3>
            <p class="profile-followers">1.2k followers</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-banner">
        <p class="category-tag technology">Technology</p>
        <img
          class="banner-img"
          src="https://images.unsplash.com/photo-1413708617479-50918bc877eb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="blog-hashtag">#photographer #gearupgrade #selfmade</p>
        <h2 class="blog-title">Photography gear you need this year</h2>
        <p class="blog-description">
          Looking to upgrade your gear? Here is the list of the best photography
          tools for this year
        </p>

        <div class="card-profile">
          <img
            class="profile-img"
            src="https://images.unsplash.com/photo-1532332248682-206cc786359f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
            alt=""
          />
          <div class="card-profile-info">
            <h3 class="profile-name">Darrell Steward</h3>
            <p class="profile-followers">45.7k followers</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-banner">
        <p class="category-tag psychology">Psychology</p>
        <img
          class="banner-img"
          src="https://images.unsplash.com/photo-1592496001020-d31bd830651f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="blog-hashtag">#mediation #mentalwellness</p>
        <h2 class="blog-title">Mediation and Mental Wellness Best Practices</h2>
        <p class="blog-description">
          Mediation has transformed my life. These are the best practices to get
          into the habit
        </p>

        <div class="card-profile">
          <img
            class="profile-img"
            src="https://images.unsplash.com/photo-1569913486515-b74bf7751574?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
            alt=""
          />
          <div class="card-profile-info">
            <h3 class="profile-name">Savannah Nguyen</h3>
            <p class="profile-followers">318 followers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
