{% extends '/layouts/base_updown.html' %} {% block content %}

<script src="{{url_for('static',filename='js/user.post.edit.js') }}"></script>
<!-- 
      brdId => reg_id 
      pstCntnt = > content
-->

<!-- 기존 게시물 편집하기 -->
{% if post_list %} 
<article>
	<div class="container" role="main">
    <h2>글 작성</h2>
    <br><br>

    {% for p in post_list %}
      <form
        method="post"
        name="form"
        id="form"
        role="form"
        action="{{ url_for('post_views.post_save_edit', pstId=p.pstId)}}"
        >
          <div class="mb-3">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" id="title" value="{{p.title}}" onkeydown="enterFunc(event,'title','reg_id')"/>
          </div>

          <div class="mb-3">
            <label for="reg_id">게시판 종류</label>
            <input type="text" class="form-control" name="reg_id" id="reg_id"  value="{{p.brdId}}" onkeydown="enterFunc(event,'reg_id','content')"/>
          </div>

          <div class="mb-3">
            <label for="content">내용</label>
            <textarea rows="10"
            class = "form-control" name="content" id="content" placeholder="내용을 입력해 주세요">{{p.pstCntnt}}</textarea>
          </div>

          <br><br>

          <div>
            <button type="submit" class="btn btn-sm btn-success" id="btnSave" onclick="btnClick(event)">저장하기</button>
            <a class="btn btn-sm btn-success" id="btnSave" href="{{url_for('board_views.board')}}">취소하기</a>
          </div>

      </form>
    {% endfor %} 
  </div>
</article>    

<!-- 새로운 게시물 작성하기 -->
{% else %}

<article>
	<div class="container" role="main">
    <h2>글 작성</h2>
    <br><br>

    <form 
    method="post" 
    name="form"
    id="form"
    role="form"
    action="{{ url_for('post_views.post_save_new')}}"
    >

      <div class="mb-3">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title" id="title" onkeydown="enterFunc(event,'title','reg_id')" placeholder="제목을 입력해 주세요">
      </div>

      <div class="mb-3">
        <label for="reg_id">게시판 종류</label>
        <input type="text" class="form-control" name="reg_id" id="reg_id" onkeydown="enterFunc(event,'reg_id','content')" placeholder="게시판 종류를 입력해 주세요">
      </div>

      <div class="mb-3">
        <label for="content">내용</label>
        <textarea rows="10"
        class = "form-control" name="content" id="content" placeholder="내용을 입력해 주세요"></textarea>
      </div>
      <br><br>
      <div>
        <button type="submit" class="btn btn-sm btn-success" id="btnSave" onclick="btnClick(event)">저장하기</button>
        <a class="btn btn-sm btn-success" id="btnSave" href="{{url_for('board_views.board')}}">취소하기</a>
      </div>

    </form>
  </div>
</article>


{% endif %}
{% endblock %}