{% extends '/layouts/base_updown.html' %} {% block content %}
<section>
  <h2>post.html</h2>
  <p>post</p>

  <form
    method="post"
    action="{{url_for('post_views.post_edit', pstId=post_list[0].pstId)}}"
  >
    <button type="submit">편집하기</button>
  </form>

  {{post_list}} {% if post_list %} {% for post in post_list %}
  <ul>
    {% for key, value in post.items() %}
    <li>
      <a href="">{{key}} - {{value}}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %} {% else %}
  <p>post_list가 없습니다.</p>
  {% endif %}
</section>
{% endblock %}
