{% extends '/layouts/base.html' %}
{% block content %}

<script src="{{url_for('static',filename='js/user.signup.js') }}"></script>


{% if data=="user"%}
    {% for message in get_flashed_messages() %}
    <script>
        alert("{{message}}")
    </script>
    {% endfor %}
{% endif %}



<h2>user.signup.html</h2>

<form action="{{url_for('user_views.user_signup')}}" method="POST">

    <p> Login Form </p>

    <ul id="ul" style="list-style:none;">

        <li> 이름 <input type="text" id="userNm" name="userNm" class="clas" onkeydown="enterFunc(event,'userNm','tel')"/></li><br> 

        <li> 전화번호 <input type="text" id="tel" name="tel" class="clas" onkeydown="enterFunc(event,'tel','email')" placeholder="010-0000-0000"/>
        {% if data=="tel"%}
            {% for message in get_flashed_messages() %}
            <script>
                alert("{{message}}")
            </script>
            {% endfor %}
        {% endif %}
        </li><br>

        <li> 이메일 <input type="email" id="email" name="email" class="clas" onkeydown="enterFunc(event,'email','subNm')" placeholder="address@mail.com"/></li><br>

        <li id="nick" > 닉네임 <input type="text" id="subNm" name="subNm" class="clas" onkeydown="enterFunc(event,'subNm','userId')"  onclick="inputClick(event)"/>
        <input type="button" value="중복확인" id="dup1" onclick="duplicate()" />
        </li><br>

        <li id="id"> 아이디 <input type="text" id="userId" name="userId" class="clas" onkeydown="enterFunc(event,'userId','userPw')" onclick="inputClick(event)"/>
        <input type="button" value="중복확인"id="dup2" onclick="duplicate2()"/>
        </li><br>

        <li> 비밀번호 <input type="password" id="userPw" name="userPw" class="clas" onkeydown="enterFunc(event,'userPw','pwcheck')" onclick="inputClick()"/></li><br>

        <li id="check"> 비밀번호 확인 <input type="password" id="pwcheck" name="pwcheck" class="clas" onkeydown="enterFunc(event,'pwcheck','submit')" onclick="inputClick()"/></li><br>

    </ul>

    <p><input type="submit" id="submit" value="제출" onclick="btnClick(event)"/></p>

</form>
{% endblock %}
</html>
 