{% extends '/layouts/base.html' %} {% block content %}
<head>
  <script>
    function enterFunc(event, id, focus) {
      data = document.querySelector(`#${id}`);
      if (event.code == "Enter") {
        console.log(data.value);
        event.preventDefault();
        document.querySelector(`#${focus}`).focus(); // enter 누르면 다음으로 focus 이동
      }
    }
  </script>
</head>

<body>
  <section>
    <h2>user.login.html</h2>

    <form action="{{url_for('user_views.user_login')}}" method="post">
      <ul style="list-style: none">
        <li>
          ID:
          <input
            type="text"
            id="userId"
            name="userId"
            onkeydown="enterFunc(event,'userId','userPw')"
          />
        </li>
        <li>
          PW:
          <input
            type="password"
            id="userPw"
            name="userPw"
            onkeydown="enterFunc(event,'userPw','submit')"
          />
        </li>
      </ul>

      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}

      <p><input type="submit" id="submit" value="Login" /></p>
    </form>
  </section>
</body>
{% endblock %}
