{% extends '/layouts/base.html' %}
{% block content %}

<script src="{{url_for('static',filename='js/user.signup.js') }}"></script>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/signup.css') }}"
    />
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/footer.css') }}"
    />
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/header.css') }}"
    />
    
{% if data=="user"%}
    {% for message in get_flashed_messages() %}
    <script>
        alert("{{message}}")
    </script>
    {% endfor %}
{% endif %}

<body>
    <main>
      <div class="inner">
          <div class="signup-container">
              <h1><span class="green">Sign Up</span></h1>
              <div class="signup-form">
                  <form action="{{url_for('user_views.user_signup')}}" method="POST">
                      <input 
                        type="text" 
                        placeholder="이름" 
                        id="userNm" 
                        name="userNm" 
                        class="clas" 
                        onkeydown="enterFunc(event,'userNm','tel')"
                      />

                      <div class="userNm-message message">
                          이름 형식으로 입력해주세요.
                      </div>
  
                      <input 
                        type="text"
                        placeholder="010-0000-0000" 
                        id="tel"
                        name="tel" 
                        class="clas"
                        onkeydown="enterFunc(event,'tel','email')"
                      />
                      
                      <div class="tel-message message">
                          전화번호 형식으로 입력해주세요.
                      </div>

                      {% if data=="tel"%}
                          {% for message in get_flashed_messages() %}
                              <p>{{ message }}</p>
                          {% endfor %}
                      {% endif %}
  
                      <input
                        type="email" 
                        placeholder="address@mail.com" 
                        id="email" 
                        name="email" 
                        class="clas"
                        onkeydown="enterFunc(event,'email','subNm')"
                        />

                      <div class="email-message message">
                          이메일 형식으로 입력해주세요.
                      </div>

                    <li id="nick" style="list-style:none">
                      <input 
                        type="text"
                        placeholder="닉네임" 
                        id="subNm" 
                        name="subNm" 
                        class="clas" 
                        onclick="inputClick()"
                        onkeydown="enterFunc(event,'subNm','userId')"
                        />
                      <input
                        type="button" 
                        value="중복확인" 
                        id="dup1" 
                        onclick="duplicate()" 
                        />
                    </li>  
                    
                      <div class="subNm-message message">
                          한글 또는 영어 2 ~ 10자로 설정해주세요.
                      </div>

                    <li id="id" style="list-style:none">
                      <input
                        type="text"
                        placeholder="아이디" 
                        id="userId" 
                        name="userId" 
                        class="clas" 
                        onclick="inputClick()"
                        onkeydown="enterFunc(event,'userId','userPw')"
                        />

                      <input
                        type="button" 
                        value="중복확인"
                        id="dup2" 
                        onclick="duplicate2()"
                        />
                    </li>  

                      <div class="userId-message message">
                          아이디 형식으로 입력해주세요.
                      </div>
  
                      <input 
                        type="password" 
                        placeholder="비밀번호" 
                        id="userPw" 
                        name="userPw" 
                        class="clas" 
                        onkeydown="enterFunc(event,'userPw','pwcheck')"
                        onclick="inputClick()"
                        />

                      <div class="password-message message">
                          영문, 숫자, 특수문자(!@$%^&*)조합 8자 이상 입력
                      </div>

                    <li id="check" style="list-style:none">
                      <input
                        type="password" 
                        placeholder="비밀번호 확인" 
                        id="pwcheck" 
                        name="pwcheck" 
                        class="clas" 
                        onkeydown="enterFunc(event,'pwcheck','submit')" 
                        onclick="inputClick()"
                        />
                    </li>

                      <div class="password-confirm-message message">
                          비밀번호가 일치하지 않습니다.
                      </div>
  
                    <p>
                    <input
                        type="submit"
                        id="submit" 
                        value="제출" 
                        onclick="btnClick(event)"
                        />
                    </p>
                  </form>
              </div>
          </div>
      </div>
  </main>
  </body>
  {% endblock %}
  
  