<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sesac community</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.style_menu.css') }}"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script
      type="text/javascript"
      defer
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <script
      type="text/javascript"
      defer
      src="{{ url_for('static', filename='js/menu.js') }}"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- 배너 관련 script-->
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> 
    <!--배너 관련 script-->
  </head>
  
  <body>
    <div class="wrapper">
      <header class="menucontainer">
        <div class="loginbar">
          <ul class="loginbar-list">
            <!-- 드롭다운 애니메이션, 햄버거 버튼 아이콘 수정 예정 -->
            <a class="navbar-togglebtn" href="#"> 햄버거버튼 </a>
            <!-- 로그인바 아이템 내부 로그인 시 로그인/로그아웃, 회원가입/마이페이지로 변경되는 기능 구현해야 함 -->
            {% if session['username'] %}
            <li class="loginbar-item">
              <button
                class="btn-login"
                onclick="location.href='{{url_for('user_views.user_logout')}}'"
                type="button"
              >
                로그아웃
              </button>
            </li>
            <li class="loginbar-item">
              <button
                class="btn-login"
                onclick="location.href='{{url_for('user_views.user_mypage')}}'"
                type="button"
              >
                마이페이지
              </button>
            </li>

            {% else %}
            <li class="loginbar-item">
              <button
                class="btn-login"
                onclick="location.href='{{url_for('user_views.user_login')}}'"
                type="button"
              >
                로그인
              </button>
            </li>
            <li class="loginbar-item">
              <button
                class="btn-login"
                onclick="location.href='{{url_for('user_views.user_signup')}}'"
                type="button"
              >
                회원가입
              </button>
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- menu -->
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="{{url_for('main')}}"> 홈</a></li>
            <li class="menu-item" style="text-align: center;">
              <div class="dropdown" style=" margin: 0; text-align: center;">
                <button 
                class="btn btn-secondary dropdown-toggle" 
                type="button" 
                data-toggle="dropdown" 
                id="dropdownBtn" 
                data-bs-auto-close="true" 
                aria-expanded="false"
                style=" display: flex; 
                        background-color: white; 
                        color: black; 
                        border: 0px; 
                        font-size: 20px; 
                        margin: 0px; 
                        padding: 0px;"
                >게시판</button>

                  <div class="dropdown-menu">
                    {% for board in board_ls%}
                      <a class="dropdown-item" style="z-index: 101;" href="{{url_for('board_views.board_boardID', brdId=board.brdId)}}">{{board.brdNm}}</a>
                    {% endfor %}
                  </div>
              </div>
            </li>
            <li class="menu-item"><a href="https://sesac.seoul.kr/common/greeting.do">SeSAC</a></li>
            <li class="menu-item"><a href="https://www.jobkorea.co.kr/"> 채용 정보 </a></li>
            <li class="menu-item"><a href="https://dacon.io/"> 공모전 정보 </a></li>
          </ul>
        </div>
      </header>
      <!-- 기본 템플릿 안에 삽입될 내용 Start -->
      {% block content %} {% endblock %}
      <!-- 기본 템플릿 안에 삽입될 내용 End -->
    </div>
    <!--<footer class="bottom">
      <p>footer test</p>
      <a href="#" class="btn_top"> top button(위치 바꿀거임) </a>
    </footer>-->
    <script>
      $(window);
    </script>
  </body>
</html>
