<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- pybo CSS -->
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    /> -->
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/signin.css') }}"
    />

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/header.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/footer.css') }}"
    />

    <!-- 파비콘 -->
    <link rel="icon" href="img/7112640_harmonious_gesture_teamwork_hand_community_icon.ico" />
    <!-- 아이폰 파비콘 -->
    <link rel="apple-touch-icon" href="img/7112640_harmonious_gesture_teamwork_hand_community_icon.ico" />

    <!-- font-awesome-icon -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    


    <title>Hello, pybo!</title>
  </head>
  <body>
    <p>base.html</p>
    <a href="{{url_for('main')}}">main</a>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %} {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
  </body>
</html>
