<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{ url_for('static', filename='css/layout.baseupdown.css') }}"
      rel="stylesheet"
    />
    <!-- 탑버튼 스크립트 -->
    <script>
      $("#btn_top").click(function () {
        $("html,body").scrollTop(0);
      });
    </script>
  </head>
  <body>
    <header>
      <div class="menucontainer">
        <div class="loginbar">
          <ul class="loginbar-list">
            {% if session['username'] %}
            <li class="loginbar-item">
              <a href="{{url_for('user_views.user_logout')}}">로그아웃</a>
            </li>
            <li class="loginbar-item">
              <a href="{{url_for('user_views.user_mypage')}}">마이페이지</a>
            </li>

            {% else %}
            <li class="loginbar-item">
              <a href="{{url_for('user_views.user_login')}}">로그인</a>
            </li>
            <li class="loginbar-item">
              <a href="{{url_for('user_views.user_signup')}}">회원가입</a>
            </li>

            {% endif %}
          </ul>
        </div>

        <div class="menu">
          <img
            class="logo"
            src="https://sesac.seoul.kr/static/common/images/www/common/logo.png"
            width="80px"
          />
          <div class="list-container">
            <ul class="menu-list">
              <!-- 내용 수정해야 함, 메뉴바 여백 고정 할 예정-->
              <li class="menu-item"><a href="{{url_for('main')}}">홈</a></li>
              <li class="menu-item">새싹 홈페이지</li>
              <li class="menu-item">강의 정보</li>
              <li class="menu-item">취창업 정보</li>
              <li class="menu-item">공모전 정보</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <p>base_updown.html</p>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %} {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
  </body>
  <footer class="bottom">
    <p>footer test</p>
    <a href="#" class="btn_top"> top button(위치 바꿀거임) </a>
  </footer>
  <script>
    $(window);
  </script>
</html>
