main {
    position: relative;
}

.signup-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 개체의 너비, 높이에 대해서 각각 -50% 만큼 이동한다. */
    text-align: center;
}

.signup-container h1 {
    font-size: 2.5rem;
}

.signup-form {
    width: 80%;
    max-width: 30rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2;
    /* margin-bottom: 1rem; */
    padding-left: 1rem;
    border: 3px solid var(--dark-gray);
}

.message {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    visibility: hidden;
}

#signup {
    padding-left: 0;
    background-color: var(--light1-green);
    border: none;
    /* color: white; */
    cursor: pointer;
}

#signup:hover {
    color: var(--light5-green);
}