html {
  height: 100%;
}

body {
  margin: 0;
}

.menucontainer {
  border-bottom: 1px solid rgb(239, 239, 239);
  /* �됱긽 諛붽씀�댁빞 ��  */
  height: max-content;
  font-size: 2em;
  box-shadow: 0 0 10px 2px rgb(239, 239, 239);
}

.loginbar {
  width: 100vw;
  height: max-content;
}
.loginbar-list {
  float: right;
  list-style: none;
  font-size: 13px;
  color: rgb(148, 148, 148);
}

.loginbar-item {
  display: inline-block;
}
.loginbar-item::after {
  padding-left: 5px;
  content: "|";
}
.loginbar-item:last-child::after {
  content: "";
  margin-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
}
.logo {
  margin: 10px;
}
.list-container {
  width: 80vw;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 0;
}
.menu-item {
  font-size: 18px;
}

.imagecontainer {
  height: 200px;
  border: 1px solid black;
}

.bodywrapper {
  display: flex;
}
.sidebar {
  margin: 60px;
  margin-right: 40px;
  width: 300px;
}
.title {
  margin: 0px;
}
.sidebar-list {
  padding: 0;
  line-height: 2em;
}

.main {
  margin-top: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.article-list {
  width: 500px;
  line-height: 2em;
}

.bottom {
  height: 100px;
  border: 1px solid black;
  background-color: yellowgreen;
}

p {
  text-align: center;
}
/* 諛섏쓳�� 援ъ“ �ㅼ젙 �꾪빐 �뚯뒪�� */
@media all and (max-width: 768px) {
  .menucontainer {
    background-color: red;
  }
}
