.snbSwiper {
  padding: 0 3px;
  box-sizing: border-box;
  background: white;
}
.swiper-slide {
  width: auto !important;
}
.swiper-slide a {
  display: block;
  text-align: center;
}
.swiper-slide .text {
  margin: 0 5px;
  padding: 16px 5px 8px 5px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 47px;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1em;
  color: #333;
}
.on .text {
  color: #91e661;
  font-weight: bold;
}
.on .text:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #91e661;
}
.dropdown-toggle::after {
  visibility: hidden;
}
