<a href="{{url_for('main.question_list')}}">question</a>
<h2>detail</h2>
<div id="data" value="{{detail}}"></div>
{% if detail %}
<ul>{% for key, value in detail[0].items() %}
  <li>{{key}} : {{value}}</li>
  {% endfor %}
</ul>
{% else %}

<p>질문이 없습니다.</p>
{% endif %}


<h2>answer</h2>
{% if answers %}
<ul>
  {% for answer in answers %}
  
    {% for key, value in answer.items() %}
    <li>{{key}} - {{value}}</li>
    {% endfor %}

  {% endfor %}
</ul>
{% else %}

<p>답변이 없습니다.</p>
{% endif %}


<form action="{{ url_for('answer.create', question_id=detail[0]['id']) }}" method="post">
	<textarea name="content" id="content" rows="15"></textarea>
	<input type="submit" value="답변등록">
</form>