:root {
    --light-gray: #f4f4f4;
    --light1-green: #5AF283;
    --dark-gray: #606060;
    --light2-green: #60FC5D;
    --light3-green: #91E661;
    --light4-green: #CFFC5D;
    --light5-green: #F2EF5A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.green {
    color: var(--light2-green);
}

header {
    background-color: var(--light4-green);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: 0 1rem;
}

.title a {
    font-size: 2rem;
    color: var(--light2-green);
    font-weight: 900;
}

.unsigned {
    display: flex;
}

.sign-container a {
    font-size: 1.6rem;
}

.sign-in {
    margin-right: 1rem;
}

.inner {
    margin: 0 auto;
}

@media only all and (min-width: 1200px) {
    .inner {
        max-width: 1200px;
    }

    html {
        font-size: 12px;
    }

}

.hidden{
    display: none;
}

/* 회원용 헤더: 드롭다운 */

.dropdown {
    position: relative;
}

.dropdown-button {
    font-size: 1.4rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
}

.dropdown-content button {
    width: 100%;
    font-size: 1.2rem;
    line-height: 2;
    background-color: var(--light2-green);
    border: 1px solid var(--dark-gray);
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: var(--light3-green);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only all and (max-width: 400px) {
    html {
        font-size: 9px;
    }
}